@import url("reset.css");
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(font/Pretendard-SemiBold.woff2) format("woff2"), url(font/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(font/Pretendard-Medium.woff2) format("woff2"), url(font/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(font/Pretendard-Regular.woff2) format("woff2"), url(font/Pretendard-Regular.woff) format("woff");
}
:root {
  --header-height: 100px;
  --basic-size: 16px;
  --small-size: 14px;
}

body {
  font-family: "Pretendard";
  line-height: 1;
  color: #333;
}

html, body {
  font-size: 62.5%;
}

.mobile {
  display: none;
}

.mobile.title {
  display: none;
}

.mobile-960 {
  display: none;
}

.br-960 {
  display: none;
}

.inner {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin: 18rem auto;
}

.title {
  display: flex;
  align-items: end;
  gap: 3rem;
  margin-bottom: 7rem;
}
.title a img {
  height: 30px;
}

/* title end */
.mobile-767 {
  display: none;
}

.header {
  height: var(--header-height);
  width: 100%;
  background-color: #fff;
  height: 100px;
  /* .inner end */
}
.header .inner {
  height: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* logo end */
  /* .gnb end */
}
.header .inner .logo {
  display: flex;
  gap: 20px;
}
.header .inner .logo h1 img {
  max-height: 33px;
  height: 2.29vw;
}
.header .inner .logo h2 img {
  max-height: 27px;
  height: 1.87vw;
}
.header .inner .gnb-pc .gnb {
  font-size: 20px;
  display: flex;
  gap: 55px;
  /* .depth01 end */
}
.header .inner .gnb-pc .gnb .depth01 {
  position: relative;
  /* .depth02 end */
}
.header .inner .gnb-pc .gnb .depth01 > a {
  line-height: 100px;
}
.header .inner .gnb-pc .gnb .depth01 .depth02 {
  z-index: 999;
  display: none;
  font-size: 16px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.header .inner .gnb-pc .gnb .depth01 .depth02 li {
  padding: 15px 0;
  width: 150px;
  background-color: #fff;
}
.header .inner .gnb-pc .gnb .depth01:hover .depth02 {
  display: block;
}
.header .inner .gnb-pc .gnb .depth01 a:hover {
  color: #006abb;
  font-weight: 600;
}
.header .inner .gnb-pc .gnb .depth01 .depth02 li:hover {
  color: #006abb;
}

/* .header end */
/* MAIN------------------------------------------- */
.main_visual {
  position: relative;
  height: 50vw;
}
.main_visual figure {
  height: 100%;
}
.main_visual figure img {
  width: 100%;
  height: 100%;
}
.main_visual .main-title {
  max-width: 1440px;
  width: calc(100% - 100px);
  font-size: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_visual .main-title h1:first-child {
  margin-bottom: 10px;
}
.main_visual .main-title h1:last-child {
  margin-top: 8rem;
  letter-spacing: 5px;
}
.main_visual .main-title h1 {
  font-weight: 600;
  color: #fff;
}

/* main_visual end */
.quick {
  /* .inner end */
}
.quick .inner {
  max-width: 1200px;
  /* .list end */
}
.quick .inner .list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 22px;
  /* a end */
  /* .item:nth-child(2) */
  /* .item:last-child */
}
.quick .inner .list a {
  border: 3px solid #0397d6;
  /* width: 220px; */
  width: calc(20% - 25px);
  max-height: 220px;
  height: 15.27vw;
  position: relative;
  /* .item end */
}
.quick .inner .list a .item {
  /* figure end */
}
.quick .inner .list a .item figure {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick .inner .list a .item figure img {
  height: 60px;
}
.quick .inner .list a .item p {
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}
.quick .inner .list a:nth-child(2) figure img {
  height: 40px;
}
.quick .inner .list a:last-child figure img {
  height: 45px;
}
.quick .inner .list a figure img + img {
  display: none;
}
.quick .inner .list a:hover {
  background-color: #0397d6;
  color: #fff;
}
.quick .inner .list a:hover figure img {
  display: none;
}
.quick .inner .list a:hover figure img + img {
  display: block;
  margin: 0 auto;
}

/* quick end */
.play {
  /* .inner end */
}
.play .inner {
  /* .list end */
}
.play .inner .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* .item end */
}
.play .inner .list .item {
  width: 23.61%;
  /*  a end */
}
.play .inner .list .item a {
  position: relative;
  /* figure end */
  /* p end */
  /* .text end */
}
.play .inner .list .item a figure {
  max-height: 480px;
  height: 33.33vw;
  /* img end */
}
.play .inner .list .item a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.play .inner .list .item a > p {
  font-size: var(--basic-size);
  width: 80px;
  height: 40px;
  background-color: #0397d6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
.play .inner .list .item a .text {
  word-break: keep-all;
  margin-top: 2.5rem;
  width: 100%;
  font-size: var(--basic-size);
}
.play .inner .list .item a .text h5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.play .inner .list .item a .text strong {
  font-weight: normal;
}
.play .inner .list .item a .text > p {
  margin-top: 1rem;
}

/* .play end */
.line {
  margin-top: 18rem;
  position: relative;
  height: 16vw;
  /* figure end */
  /* .text end */
}
.line figure {
  height: 100%;
}
.line figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.line .text {
  max-width: 1200px;
  width: calc(100% - 100px);
  font-size: 35px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line .text > p {
  margin-bottom: 2rem;
}
.line .text span {
  background-color: #fff;
  height: 2px;
  width: 120px;
  position: absolute;
  top: 17px;
  left: 365px;
}

/* .line end */
.more {
  /* inner end */
}
.more .inner {
  /* .item_wrap end */
}
.more .inner .item_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* li end */
  /*  on end */
}
.more .inner .item_wrap li {
  width: 16.31%;
  transition: all 1s;
  position: relative;
  display: block;
  /* figure end */
  /* .text end */
}
.more .inner .item_wrap li figure {
  width: 100%;
  max-height: 340px;
  height: 23.61vw;
}
.more .inner .item_wrap li figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.more .inner .item_wrap li .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4.5rem 3rem;
  color: #fff;
}
.more .inner .item_wrap li .text strong {
  font-size: 30px;
}
.more .inner .item_wrap li .text strong br {
  display: none;
}
.more .inner .item_wrap li .text p {
  font-size: 18px;
}
.more .inner .item_wrap li .text .more_text {
  width: 100%;
  position: absolute;
  padding: 0 3rem;
  bottom: 4rem;
  left: 20px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}
.more .inner .item_wrap li .text .more_text span img {
  height: 25px;
}
.more .inner .item_wrap li.on {
  /* width: 750px; */
  width: 50%;
  position: relative;
  display: block;
  /* .text end */
  /* .text::before end */
}
.more .inner .item_wrap li.on figure {
  height: 23.61vw;
}
.more .inner .item_wrap li.on figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.more .inner .item_wrap li.on .text {
  width: 100%;
  padding: 8rem 3rem;
}
.more .inner .item_wrap li.on .text .more_text {
  position: absolute;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.5s all 0.5s;
}
.more .inner .item_wrap li.on .text::before {
  content: "";
  width: calc(100% - 6rem);
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 3.5rem;
}

/* more end */
.notice .inner {
  /* notice_wrap end */
}
.notice .inner .notice_wrap {
  display: flex;
  justify-content: space-between;
  /* list end */
  /* .image_box */
}
.notice .inner .notice_wrap .list {
  width: 60%;
  max-height: 370px;
  height: 25.69vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* item end */
}
.notice .inner .notice_wrap .list .item {
  /*  a end */
}
.notice .inner .notice_wrap .list .item a {
  width: 100%;
  border: 2px solid #333;
  max-height: 70px;
  height: 4.86vw;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 7rem;
}
.notice .inner .notice_wrap .list .item a p {
  font-size: var(--basic-size);
}
.notice .inner .notice_wrap .list .item a strong {
  font-size: 18px;
}
.notice .inner .notice_wrap .list .item:hover {
  background: rgb(0, 129, 184);
  background: linear-gradient(90deg, rgb(0, 129, 184) 0%, rgb(3, 151, 214) 45%, rgb(255, 255, 255) 83%);
  color: #fff;
  transition: all linear 0.3s;
}
.notice .inner .notice_wrap .image_box {
  width: 35.83%;
  max-height: 370px;
  height: 25.69vw;
  /* figure end */
  /* .slide_pagination */
}
.notice .inner .notice_wrap .image_box figure {
  display: none;
  height: 100%;
}
.notice .inner .notice_wrap .image_box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.notice .inner .notice_wrap .image_box figure.on {
  display: block;
}
.notice .inner .notice_wrap .image_box .image_box__util {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 18px;
}
.notice .inner .notice_wrap .image_box .slide_pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.notice .inner .notice_wrap .image_box .slide_pagination li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333;
}
.notice .inner .notice_wrap .image_box .slide_pagination li.on {
  background-color: #0397d6;
}
.notice .inner .notice_wrap .image_box .slide_btn img {
  width: 20px;
  display: none;
}

/* notice end */
.parking-wrap {
  background-color: #006abb;
  height: 400px;
  /* .inner end */
}
.parking-wrap .inner {
  padding: 0 12rem;
  height: 100%;
  /* .parking end */
}
.parking-wrap .inner .parking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* .parking--notice end */
  /* parking--map end */
}
.parking-wrap .inner .parking .parking--notice {
  word-break: keep-all;
  width: 55%;
  text-align: center;
  color: #fff;
}
.parking-wrap .inner .parking .parking--notice h5 {
  font-size: 25px;
  margin-bottom: 2rem;
  font-weight: 500;
}
.parking-wrap .inner .parking .parking--notice strong {
  font-weight: normal;
  line-height: 1.4;
  font-size: 16px;
}
.parking-wrap .inner .parking .parking--notice p {
  margin-top: 2rem;
  font-size: 14px;
  line-height: 1.4;
}
.parking-wrap .inner .parking .parking--map {
  width: 460px;
  /* .text_wrap end */
}
.parking-wrap .inner .parking .parking--map .text_wrap {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  color: white;
}
.parking-wrap .inner .parking .parking--map .text_wrap .text {
  width: 170px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
}
.parking-wrap .inner .parking .parking--map .text:hover {
  background-color: #fff;
  color: #000;
}

/* parking-wrap end */
.footer {
  background-color: #f7f7f7;
  /* .inner end */
}
.footer .inner {
  margin: 0 auto;
  padding: 3rem 0;
  /* .info end */
  /* .info2 */
}
.footer .inner .info {
  font-size: 15px;
  display: flex;
  gap: 2rem;
  position: relative;
}
.footer .inner .info strong:nth-child(2):before {
  content: "";
  height: 14px;
  width: 1px;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 115px;
}
.footer .inner .info2 {
  display: flex;
  justify-content: space-between;
  /* service */
  /* site */
}
.footer .inner .info2 .service {
  color: #555;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}
.footer .inner .info2 .service p:last-child {
  margin-top: 1.5rem;
}
.footer .inner .info2 .site {
  font-size: 15px;
  /* depth01 */
}
.footer .inner .info2 .site .depth01 {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #666;
  padding: 10px;
  position: relative;
  /*  a end */
  /* depth02 */
}
.footer .inner .info2 .site .depth01 > a {
  display: flex;
  justify-content: space-between;
}
.footer .inner .info2 .site .depth01 > a img {
  height: 17px;
  display: none;
}
.footer .inner .info2 .site .depth01 > a img.on {
  display: block;
}
.footer .inner .info2 .site .depth01 .depth02 {
  width: 100%;
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: -140px;
  left: 0;
  display: none;
}
.footer .inner .info2 .site .depth01 .depth02 li {
  padding: 15px;
  background-color: #fff;
}
.footer .inner .info2 .site .depth01 .depth02.on {
  display: block;
}
.footer .inner .sponsor {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  max-height: 48px;
}
.footer .inner .sponsor img {
  border: 1px solid #b3b3b3;
}

/* .footer end */
@media screen and (max-width: 1300px) {
  .main_visual .main-title {
    font-size: 50px;
  }
  .line .text {
    font-size: 30px;
    position: absolute;
  }
  .line .text span {
    width: 100px;
    position: absolute;
    left: 310px;
  }
  .parking-wrap .inner .parking .parking--notice {
    width: 50%;
  }
  .pc_br {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  /* quick------------------------ */
  .quick .inner .list {
    font-size: 18px;
  }
  .quick .inner .list a .item figure img {
    height: 48px;
  }
  .quick .inner .list a:nth-child(2) .item figure img,
  .quick .inner .list a:last-child .item figure img {
    height: 35px;
  }
  /* play--------------- */
  .play .inner .list .item a .text h5 {
    font-size: 20px;
  }
  .play .inner .list .item a .text {
    font-size: 15px;
  }
  /* more------------------ */
  .more .inner .item_wrap li a .text strong {
    font-size: 25px;
  }
  .more .inner .item_wrap li a .text strong br {
    display: block;
  }
  .more .inner .item_wrap li.on a .text strong br {
    display: none;
  }
  .more .inner .item_wrap li a .text p {
    font-size: 16px;
  }
  .more .inner .item_wrap li .text strong br {
    display: block;
  }
  .more .inner .item_wrap li.on .text strong br {
    display: none;
  }
  .parking-wrap .inner .parking .parking--map {
    width: 400px;
  }
  .notice .inner .notice_wrap .list .item a {
    border: 1px solid #333;
  }
  .notice .inner .notice_wrap .list .item:hover {
    background: rgb(0, 129, 184);
    background: linear-gradient(90deg, rgb(0, 129, 184) 0%, rgb(3, 151, 214) 45%, rgb(3, 151, 214) 100%);
  }
}
@media screen and (max-width: 1100px) {
  .parking-wrap .inner .parking .parking--notice {
    width: 40%;
  }
  .pc__br {
    display: none;
  }
  .quick .inner .list a .item p {
    bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .main_visual .main-title {
    font-size: 45px;
  }
  /* header */
  .header .inner .menu-btn img {
    height: 28px;
  }
  .header .inner .gnb-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: #0397d6;
    color: white;
    z-index: 999;
  }
  .header .inner .gnb-mobile .menu_close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .header .inner .gnb-mobile .menu_close img {
    height: 28px;
  }
  .header .inner .gnb-mobile.on {
    display: block;
  }
  .header .inner .gnb-mobile .gnb {
    margin-top: 100px;
  }
  .header .inner .gnb-mobile .gnb .depth01 {
    border-bottom: 1px solid #fff;
    margin: 30px;
    padding-bottom: 20px;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a {
    font-size: 28px;
    position: relative;
  }
  .header .inner .gnb-mobile .gnb .depth01 a {
    display: block;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(0deg);
    background: url("../img/icon_menu_arrow_rotate.png") center/100% no-repeat;
    width: 25px;
    height: 25px;
    transition: all 0.5s;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a.on::after {
    transform: translateY(-50%) rotate(-180deg);
  }
  .header .inner .gnb-mobile .gnb .depth01 .depth02 {
    display: none;
  }
  .header .inner .gnb-mobile .gnb .depth01 .depth02 li {
    font-size: 20px;
    margin: 15px 0;
  }
  /* parking */
  .pc-960 {
    display: none;
  }
  .mobile-960 {
    display: block;
  }
  .parking-wrap {
    height: 500px;
  }
  .parking-wrap .inner .parking {
    flex-direction: column;
    justify-content: center;
  }
  .parking-wrap .inner .parking .parking--notice {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .parking-wrap .inner .parking .parking--map {
    margin: 0 auto;
  }
  .parking-wrap .inner .parking .parking--map {
    width: 400px;
  }
  .parking-wrap .inner .parking .parking--map {
    margin-top: 1rem;
  }
  .parking-wrap .inner .parking .parking--notice h5 {
    font-size: 20px;
  }
  .parking-wrap .inner {
    padding: 0;
  }
  .parking-wrap .inner .parking .parking--map .text_wrap {
    gap: 1.5rem;
  }
  /* notice ------------------ */
  .notice .inner .notice_wrap .list {
    display: none;
  }
  .notice .inner .notice_wrap .list-m {
    position: relative;
    width: 60%;
    max-height: 370px;
    height: 25.69vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .notice .inner .notice_wrap .list-m .item a {
    padding: 30px 10px;
    display: flex;
    gap: 25px;
    position: relative;
    border-bottom: 1px solid #555;
  }
  .notice .inner .notice_wrap .list-m .item a p {
    font-size: 14px;
  }
  .notice .inner .notice_wrap .list-m .item a strong {
    font-size: 16px;
  }
  .notice .inner .notice_wrap .list-m::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
  }
  .quick .inner .list a .item p {
    bottom: 20px;
  }
  /* more ----------------------- */
  .more .inner .item_wrap li {
    width: 100%;
  }
  .more .inner .item_wrap li.on {
    width: 100%;
  }
  .more .inner .item_wrap li figure {
    height: 20vw;
  }
  .more .inner .item_wrap li.on figure {
    height: 70vw;
    transition: all 3s;
  }
  .more .inner .item_wrap li .text strong br {
    display: none;
  }
  .footer .inner .sponsor {
    max-height: 37px;
    height: 3.85vw;
  }
}
@media screen and (max-width: 820px) {
  .footer .inner .info2 .site .depth01 .depth02 li {
    padding: 10px 15px;
  }
  .header .inner .logo h1 img {
    max-height: 28px;
    height: 3.41vw;
  }
  .header .inner .logo h2 img {
    max-height: 23px;
    height: 2.8vw;
  }
  .footer .inner .info2 .site .depth01 .depth02 {
    top: -110px;
  }
}
@media screen and (max-width: 767px) {
  html, body {
    font-size: 37.5%; /* 6px */
  }
  .pc-767 {
    display: none;
  }
  .mobile-767 {
    display: block;
  }
  .main_visual .main-title {
    font-size: 38px;
  }
  .play .inner .title h2 img {
    height: 35px;
  }
  .mobile-767.title {
    display: flex;
  }
  /* more-------------- */
  .more .inner {
    margin-top: 36rem 0;
  }
  .more .inner .item_wrap li.on .text {
    padding: 10rem 3rem;
  }
  .mobile-767 {
    display: block;
  }
  .quick .inner .list a {
    width: calc(25% - 14px);
    max-height: 145px;
    height: 20vw;
  }
  .quick .inner .list a:nth-child(4) {
    display: none;
  }
  .quick .inner .list {
    font-size: 16px;
  }
  .quick .inner .list a .item figure img {
    height: 40px;
  }
  .quick .inner .list a:nth-child(2) figure img,
  .quick .inner .list a:last-child figure img {
    height: 30px;
  }
  /* play */
  .play .inner .list .item a > p {
    width: 60px;
    height: 30px;
    font-size: 14px;
  }
  .play .inner .list .item a .text h5 {
    font-size: 17px;
  }
  .play .inner .list .item a .text {
    font-size: 14px;
  }
  /* line */
  .line .text {
    font-size: 25px;
  }
  .line .text span {
    display: none;
  }
  /* parking----------- */
  .parking-wrap .inner .parking .parking--map .text_wrap .text {
    width: 33.3333333333%;
    height: 40px;
    line-height: 40px;
  }
  .footer .inner .info strong:nth-child(2):before {
    left: 96px;
  }
  .footer .inner .info,
  .footer .inner .info2 .site,
  .footer .inner .info2 .service {
    font-size: 13px;
  }
  .footer .inner .info2 .site .depth01 .depth02 {
    position: absolute;
    top: -100px;
  }
  .footer .inner .info2 .site .depth01 .depth02 li {
    padding: 10px;
  }
  .footer .inner .info2 .site .depth01 {
    width: 180px;
    height: 30px;
    padding: 7px 10px;
  }
}
@media screen and (max-width: 700px) {
  .line {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  /* title---------------- */
  .play .inner .title h2 img {
    height: 27px;
  }
  .more .inner .title h2 img {
    height: 68px;
  }
  .notice .inner .title h2 img {
    height: 29px;
  }
  .title a img {
    height: 25px;
  }
  .title {
    justify-content: space-between;
  }
  /*  maim------------------ */
  .main_visual {
    height: 130vw;
    position: relative;
  }
  .main_visual .main-title {
    position: absolute;
    top: 40%;
    text-align: center;
  }
  .main_visual .main-title h1:nth-child(2) {
    line-height: 1.5;
  }
  /* quick------------------- */
  .quick .inner .list a .item figure img {
    height: 30px;
  }
  .quick .inner .list a:nth-child(2) .item figure img,
  .quick .inner .list a:last-child .item figure img {
    height: 20px;
  }
  .quick .inner .list a .item p {
    bottom: 17px;
  }
  /* play */
  .play .inner .list {
    row-gap: 30px;
  }
  .play .inner .list .item a .text h5 {
    font-size: 16px;
  }
  .play .inner .list .item {
    width: calc(50% - 10px);
  }
  .play .inner .list .item a figure {
    height: 62vw;
  }
  .notice .inner .notice_wrap {
    flex-direction: column;
  }
  .notice .inner .notice_wrap .list-m {
    width: 100%;
  }
  .notice .inner .notice_wrap .image_box {
    margin-top: 18rem;
    width: 100%;
    max-height: 400px;
    height: 59.7vw;
  }
  .footer .inner .sponsor {
    max-height: 30px;
    height: 4.47vw;
  }
}
@media screen and (max-width: 560px) {
  .notice .inner .notice_wrap .image_box {
    margin-top: 140px;
  }
}
@media screen and (max-width: 460px) {
  .pc-460 {
    display: none;
  }
  /* header ----------------------------- */
  .header {
    height: 70px;
  }
  .header .inner .logo h1 img {
    max-height: 20px;
    height: 4.34vw;
  }
  .header .inner .gnb-mobile {
    top: 70px;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a {
    font-size: 20px;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a > img {
    height: 18px;
    margin-left: 10px;
  }
  .header .inner .gnb-mobile .gnb .depth01 .depth02 li {
    font-size: 16px;
  }
  .header .inner .menu-btn img {
    height: 25px;
  }
  .header .inner .gnb-mobile .menu_close img {
    height: 24px;
  }
  .main_visual .main-title {
    font-size: 30px;
  }
  .header .inner .gnb-mobile .gnb .depth01 > a::after {
    height: 16px;
    width: 16px;
  }
  /* quick-------------------- */
  .quick .inner {
    margin: 15rem auto;
  }
  .quick .inner .list .item {
    width: calc(25% - 10px);
    font-size: 15px;
  }
  .quick .inner .list a .item figure img {
    height: 25px;
  }
  .quick .inner .list a:nth-child(2) .item figure img,
  .quick .inner .list a:last-child .item figure img {
    height: 18px;
  }
  .quick .inner .list a .item p {
    bottom: 10px;
  }
  .quick .inner .list a {
    border: 2px solid #0397d6;
  }
  .notice .inner .notice_wrap .image_box {
    margin-top: 130px;
  }
  .notice .inner .notice_wrap .list-m .item a strong {
    word-break: keep-all;
  }
  .notice .inner .notice_wrap .list-m .item a {
    padding: 25px 10px;
  }
  /* more ----------------------- */
  .more .inner .item_wrap li .text strong {
    font-size: 20px;
  }
  .more .inner .item_wrap li .text p {
    font-size: 14px;
  }
  /* parking------------------------ */
  .parking-wrap .inner .parking .parking--map {
    width: 350px;
  }
  .parking-wrap .inner .parking .parking--notice h5 {
    font-size: 16px;
  }
  .parking-wrap .inner .parking .parking--notice strong {
    font-size: 14px;
  }
  .parking-wrap .inner .parking .parking--map .text_wrap {
    gap: 1rem;
  }
  .parking-wrap .inner .parking .parking--map .text_wrap .text {
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
  }
  /* footer------------- */
  .footer {
    height: 250px;
  }
  .footer .inner {
    text-align: center;
    padding: 5rem 0;
  }
  .footer .inner .info strong:nth-child(2):before {
    display: none;
  }
  .footer .inner .info2 {
    flex-direction: column;
  }
  .footer .inner .info {
    display: flex;
    justify-content: center;
  }
  .footer .inner .info2 .site {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .footer .inner .info2 .site .depth01 {
    width: 200px;
  }
  .footer .inner .sponsor {
    max-height: 25px;
    height: 5.43vw;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .notice .inner .notice_wrap .image_box {
    margin-top: 180px;
  }
  .parking-wrap .inner .parking .parking--map {
    width: 300px;
  }
  .quick .inner .list a .item {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */